@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* the font link */

*{
    margin: 0;
}
/* header section */

.first-line{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin: 100px auto 50;
    padding-top: 350px;
}

.second-line
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin: 50px;
}
.first-engineer{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 30px;

}
.second-engineer{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.btn-header{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;

    background: rgb(13, 19, 33);
    cursor: pointer;
}
.btn-div{
    text-align: center;
    margin-top: 30px;
    
}

.header-section{

    background-image: url('../assets/Hero-bg.png');

    background-repeat: no-repeat;
    margin-top: 100px;

    background-position: center ;

    background-size: cover;
    width: 100%;
    padding-bottom: 50px;
    
    
}

.header{
    background-image: url('../assets/Group.png');
    background-repeat: no-repeat;
    background-position: top;
    
}


/* main style started */

.container{
    margin: 50px 90px 50px 90px;
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
    padding: 100px;
    /* margin-bottom: 100px; */
}
.web-dev{
    text-align: center;
    padding-top: 50px;
}

.question{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.sub-container{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;

}

/* the design of pic with text */

.first-pic{
    
    display: flex;
    justify-content:space-around;
    margin-top: 100px;
    align-items: center;
    background-color: white;
    
}

.first-line-pic{

    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.second-line-pic{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}

.learn-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 20px 12px 20px;
    border: none;
    cursor: pointer;
}


/* youtube video design here */

.inspiration{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.programs{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;

}

.video{

    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    
    
}


/* make design of html, css, js */
.first-headline{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.second-headline{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}

.third-headline{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    }

.current{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 200px;
}

.paragraphs{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

    margin-top: 30px;

}

.make-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.html{
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);    
    width:400px;
    height: 200px;
    padding: 30px;
    margin-right: 30px;
}

.css{
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
    width:400px;
    height: 200px;
    padding: 30px;
    margin-right: 30px;
}

.js{
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
    width:400px;
    height: 200px;
    padding: 30px;
}

/* doing designing in support section */

.support{
    color: rgb(255, 255, 255);
    /* color: red; */
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 60px;
    
}

.expert{

    color: rgb(255, 255, 255);
    /* color: red; */
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding-top: 60px;

}

#foot-one{
    box-sizing: border-box;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    padding: 19px 20px 19px 20px;
    border-radius: 5px;
}


#foot-two{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px 17px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.foot{
    text-align: center;
    padding-top: 70px;
    border-radius: 5px;
   
}

.help{

    
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
    height: 400px;
    
}

.last{

    margin: 100px;
}

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height:100px ;
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.03);
}

.open{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.fb{
    margin-right: 15px;
}

.ln{
    margin-left: 15px;
}